<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div id="miModal" class="modal" th:fragment="changePassword">
            <div class="modal-contenido">
                <span class="cerrar" id="cerrarModal">&times;</span>
                <h2>Formulario Modal</h2>
                <form>
                    <!-- Aquí colocas tus campos de formulario -->
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre">

                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
         <script th:src="@{/back/dist/js/modalScript.js}"></script>
    </body>
</html>