<!DOCTYPE html>
<html  lang="es" xmlns:th="http://www.thymeleaf.org"
	   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout_back/layout_back :: head"></head>
<body>

<nav th:replace="layout/layout_back/layout_back :: navbar"></nav>

<nav th:replace="layout/layout_back/layout_back :: aside"></nav>

<section>

	<div class="content-wrapper py-3">

		<div class="container-fluid">
		<div class="row">

			<div class="col-md-12">

				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">Generar nueva solicitud</h3>
					</div>


					<form th:action="@{/administrador/nueva_solicitud}" th:object="${cliente}" method="post">
						<div class="card-body">

							<div class="row list-input">
								<div class="col-md-3 mr0">
									<div class="form-group">
										<input type="text" th:field="*{nombre}" class="form-control"
											   th:errorclass="'form-control alert-danger'" placeholder="NOMBRE"/> <small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group">
										<input type="text" th:field="*{apellido}" class="form-control"
											   th:errorclass="'form-control alert-danger'" placeholder="APELLIDO"/> <small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
									</div>
								</div>

								<div class="col-md-3 mr0">
									<div class="form-group">
										<input type="text" th:field="*{cuil}" class="form-control"
											   th:errorclass="'form-control alert-danger'" placeholder="DNI O CUIL/CUIT" id="cuil"/> <small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('cuil')}" th:errors="*{cuil}"></small>
									</div>
								</div>

								<div class="col-md-3 mr0">
									<div class="form-group">
										<input type="text" th:field="*{celular}" class="form-control"
											   th:errorclass="'form-control alert-danger'" placeholder="CELULAR"/> <small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('celular')}" th:errors="*{celular}"></small>
									</div>
								</div>

								<div class="col-md-3 mr0">
									<div class="form-group">
										<input type="text" th:field="*{otro_telefono}" class="form-control"
											   th:errorclass="'form-control alert-danger'" placeholder="TELEFONO ALTERNATIVO"/>
									</div>
								</div>

								<div class="col-md-3 mr0">
									<div class="form-group">
										<input type="text" th:field="*{email}" class="form-control"
											   th:errorclass="'form-control alert-danger'" PLACEHOLDER="EMAIL"/> <small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
									</div>
								</div>

								<div class="col-md-3 mr0">
									<div class="form-group">
										<input type="text" th:field="*{domicilio}" class="form-control"
											   th:errorclass="'form-control alert-danger'" PLACEHOLDER="DOMICILIO"/>
									</div>
								</div>

								<div class="col-md-3 mr0">
									<div class="form-group">
										<input type="text" th:field="*{localidad}" class="form-control"
											   th:errorclass="'form-control alert-danger'" PLACEHOLDER="LOCALIDAD"/>
									</div>
								</div>

								<div class="col-md-3 mr0">
									<div class="form-group">
										<select id="provincia" th:field="*{provincia}" class="form-control">
											<option value="">-- Seleccionar Provincia</option>
											<option th:each="provincia: ${provincia}" th:text="${provincia}" th:value="${provincia}"></option>
										</select>
										<small th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}" class="form-text text-danger"></small>
									</div>
								</div>

								<div class="col-md-3 mr0">
									<div class="form-group">
										<input type="text" th:field="*{dependencia}" class="form-control"
											   th:errorclass="'form-control alert-danger'" PLACEHOLDER="DEPENDENCIA"/>
									</div>
								</div>

								<div class="col-md-3 mr0">
									<div class="form-group">
										<select id="situacion_laboral" th:field="*{situacion_laboral}" class="form-control">
											<option value="">--Seleccionar situación Laboral</option>
											<option th:each="situacion_laboral: ${situacion_laboral}" th:text="${situacion_laboral}" th:value="${situacion_laboral}"></option>
										</select>
										<small th:if="${#fields.hasErrors('situacion_laboral')}" th:errors="*{situacion_laboral}" class="form-text text-danger"></small>
									</div>
								</div>


								<div class="col-md-3 mr0">
									<div class="form-group">
										<input type="text" th:field="*{banco_cobro}" class="form-control"
											   th:errorclass="'form-control alert-danger'" placeholder="BANCO DE COBRO"/> <small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('banco_cobro')}" th:errors="*{banco_cobro}"></small>
									</div>
								</div>

								<div class="col-md-3 mr0">
									<div class="form-group">
										<select id="canal" th:field="*{canal}" class="form-control">
											<option value="">--Seleccionar canal</option>
											<option th:each="canal: ${canal}" th:text="${canal}" th:value="${canal}"></option>
										</select>
									</div>
								</div>

								<div class="col-md-3 mr0">
									<div class="form-group">
										<input type="number" th:field="*{monto_solicitado}" class="form-control"
											   th:errorclass="'form-control alert-danger'" placeholder="MONTO SOLICITADO"/>
									</div>
								</div>

								<div class="col-md-3 mr0">
									<div class="form-group">
										<input type="number" th:field="*{plan}" class="form-control"
											   th:errorclass="'form-control alert-danger'" placeholder="CANTIDAD DE CUOTAS" MAX="48"/>
									</div>
								</div>

								<div class="col-md-3 mr0">
									<div class="form-group">
										<select id="estado" th:field="*{estado}" class="form-control">
											<option th:each="estado: ${estado}" th:text="${estado}" th:value="${estado}" th:selected="${estado == 'EN PROCESO'}"></option>
										</select>

									</div>
								</div>

								<div class="col-md-3 mr0">
									<div class="form-group">
										<select id="financiador" th:field="*{financiador}" class="form-control">
											<option th:each="financiador: ${financiador}" th:text="${financiador}" th:value="${financiador}"></option>
										</select>
									</div>
								</div>

								<div class="col-md-4 mr0">
									<div class="form-group">
										<input type="text" th:field="*{observacion}" class="form-control"
											   th:errorclass="'form-control alert-danger'" placeholder="OBSERVACION"/>
									</div>
								</div>

								<div class="col-md-3 mr0">
									<div class="form-group">
										<input type="text" id="vendedor" name="vendedor" th:value="${user}" class="form-control" readonly/>
									</div>
								</div>


						</div>

						<div class="card-footer">
							<input type="submit" value="Guardar cambios" class="button btn btn-primary btn-lg" />
						</div>
					</form>

				</div>

</section>


<footer th:replace="layout/layout_back/layout_back :: footer"></footer>
</body>
</html>