<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout_front/layout_front :: head"></head>

<body class="js">
    <div id="preloader"></div>
    <!-- start header area -->
    <header th:replace="layout/layout_front/layout_front :: header"></header>
    <!-- end of header area -->

    <section class="section-padding contact-us-padding">
        <div class="container">
            <div class="row justify-content-center">
                <h1>Solicitud de crédito</h1>
                <div class="col-md-12 col-lg-10">
                    <form th:action="@{/solicitud}" th:object="${cliente}" method="post">
                        <div class="row list-input">
                            <div class="col-md-6 mr0">
                                <div class="single-get-touch">
                                    <input type="text" th:field="*{nombre}" class="form-control"
                                           th:errorclass="'form-control alert-danger'" placeholder="NOMBRE"/> <small
                                        class="form-text text-danger"
                                        th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-get-touch">
                                    <input type="text" th:field="*{apellido}" class="form-control"
                                           th:errorclass="'form-control alert-danger'" placeholder="APELLIDO"/> <small
                                        class="form-text text-danger"
                                        th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
                                </div>
                            </div>
                            <div class="col-md-6 mr0">
                                <div class="single-get-touch">
                                    <input type="text" th:field="*{cuil}" class="form-control"
                                           th:errorclass="'form-control alert-danger'" placeholder="DNI O CUIL/CUIT" id="cuil"/> <small
                                        class="form-text text-danger"
                                        th:if="${#fields.hasErrors('cuil')}" th:errors="*{cuil}"></small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-get-touch">
                                    <input type="text" th:field="*{banco_cobro}" class="form-control"
                                           th:errorclass="'form-control alert-danger'" placeholder="BANCO DE COBRO"/> <small
                                        class="form-text text-danger"
                                        th:if="${#fields.hasErrors('banco_cobro')}" th:errors="*{banco_cobro}"></small>
                                </div>
                            </div>
                            <div class="col-md-6 mr0">
                                <div class="single-get-touch">
                                    <input type="text" th:field="*{celular}" class="form-control"
                                           th:errorclass="'form-control alert-danger'" placeholder="NÚMERO DE TELÉFONO"/> <small
                                        class="form-text text-danger"
                                        th:if="${#fields.hasErrors('celular')}" th:errors="*{celular}"></small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-get-touch">
                                    <input type="text" th:field="*{email}" class="form-control"
                                           th:errorclass="'form-control alert-danger'" PLACEHOLDER="EMAIL"/> <small
                                        class="form-text text-danger"
                                        th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                                </div>
                            </div>
                            <div class="col-md-6 mr0">
                                <div class="single-get-touch">
                                    <select id="provincia" th:field="*{provincia}" class="form-control">
                                        <option value="">-- Seleccionar Provincia</option>
                                        <option th:each="provincia: ${provincia}" th:text="${provincia}" th:value="${provincia}"></option>
                                    </select>
                                    <small th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}" class="form-text text-danger"></small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-get-touch">
                                    <select id="situacion_laboral" th:field="*{situacion_laboral}" class="form-control">
                                        <option value="">--Seleccionar situación Laboral</option>
                                        <option th:each="situacion_laboral: ${situacion_laboral}" th:text="${situacion_laboral}" th:value="${situacion_laboral}"></option>
                                    </select>
                                    <small th:if="${#fields.hasErrors('situacion_laboral')}" th:errors="*{situacion_laboral}" class="form-text text-danger"></small>
                                </div>

                            </div>

                            <div class="col-md-12">
                                <div class="single-get-touch">
                                    <input type="submit" value="ENVIAR SOLICITUD" class="button btn btn-default btn-lg" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>



    <!-- end of our partner section -->
    <!-- start footer -->



    <footer th:replace="layout/layout_front/layout_front :: footer"></footer>

    <!-- end footer -->


</body>
</html>